.health-cards {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.health-card {
  background-color: #f6faff;
  border: 1px solid #f0f0f0;
  border-radius: 32px;
  padding: 2.5rem;
  box-shadow: rgba(99, 99, 99, 0.043) 0px 2px 8px 0px;
}



.health-card__header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.health-card__icon {
  font-size: 1.5rem;
}

.health-card__info {
  display: flex;
  flex-direction: column;
}

.health-card__title {
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}

.health-card__date {
  font-size: 0.75rem;
  color: #6b7280; 
  margin-top: 0.2rem;
}

.health-card__progress-bar {
  width: 100%;
  background-color: #e5e7eb; 
  height: 8px;
  border-radius: 9999px;
}

.health-card__progress {
  height: 8px;
  border-radius: 9999px;
}

.health-card__progress--good {
  background-color: #7ed1c2; 
}

.health-card__progress--warning {
  background-color: #f57154; 
}

.health-card__progress--critical {
  background-color: #b34d4d; 
}

.health-card__progress--default {
  background-color: #9ca3af; 
}
