.app {
  display: flex;
  height: 100vh;
  background-color: #f9fbfc;
}

.app__content {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.app__grid {
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.app__section {
  background-color: #ffffff;
  border-radius: 0.75rem;
  
  padding: 1rem;
}

@media (max-width: 768px) {
  .app__grid {
    padding: 1rem;
    gap: 1rem;
  }

  .app__section {
    padding: 0.75rem;
  }
}
